h1 {
    text-align: center;
    font-family: Helvetica;
    background-color: rgb(155, 185, 246);
}

body {
    text-align: center;
    font-size: medium;
    font-family: Verdana;
    background-color: rgb(220, 220, 237);
}