.headers {
    text-align: center;
    font-family: 'Gill Sans';
    background-color: lightblue;
    display: block;
    padding: 10px;
}

body {
    text-align: center;
    font-family: 'Helvetica';
    background-image: url('../img/Ryan.jpg');
    background-size: cover;
}

#main {
    background-color: lightblue;
    padding: 50px;
    display: inline-block;
}