h1 {
    color:lightblue;
    background-color: rgb(85, 30, 136);
    text-align: center;
    font-family: 'Georgia';
    font-size: max(2vw, 3vw);
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-family: 'Georgia';
    margin: 0 auto;
}

.buttonDiv {
    text-align: center;
}

.button {
    text-align: center;
    margin: 0 auto;
    background-color: lightblue;
    font-family: 'Georgia';
    font-size: max(1vw, 2vw);
}

#tableDiv {
    display: flex;
    justify-content: center;
}

tr:nth-child(even) {
  background-color: lightblue;
}

img {
    width:80%;
    text-align: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.teamFigure {
    text-align: center;
    font-family: 'Georgia';
}

p {
    font-family:Georgia;
    text-align: center;
}

ul {
    text-align: center;
}

#quote {
    color:darkgreen;
    text-align: center;
    font-family: lobster, cursive;
    font-size:max(1vw, 1.5vw);
}

#formDiv {
    text-align: center;
    width:100%;
    height: 800px;
}

.footer {
    margin: 0 auto;
    width:20%;
    font-family: Calibri;
    color:azure;
    background-color: rgb(1, 1, 90);
}